@import "tailwindcss";

@font-face {
  font-family: "Brasika Display";
  src: url("../fonts/brasika-display-trial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #334b35;
  --color-secondary: #fdae16;
  --color-dark: #000000;
  --color-light: #f6efe1;

  --font-Brasika: "Brasika Display", serif;
  --font-Montserrat: "Montserrat", serif;
}

.line {
  height: 1.5em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  ul {
    list-style: none;
    animation: scroll 10s infinite;

    li {
      display: flex;
      align-items: center;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  16.67% {
    transform: translateY(-1.5em);
  }
  33.33% {
    transform: translateY(-3em);
  }
  50% {
    transform: translateY(-4.5em);
  }
  66.67% {
    transform: translateY(-6em);
  }
  83.33% {
    transform: translateY(-7.5em);
  }
  100% {
    transform: translateY(0);
  }
}
